.head_bar{
    height: 128px;
    max-width: auto;
}

.title{
    color: whitesmoke;
}

.menuStyle{
    height: 64px;
    max-width: auto;
}

.site_title{
    display: 'none';
}

.test_button{
}

.home_button{
    height: 500px;
}