.header_overall{
    max-width: auto;
    height: 128px;
    margin: auto;
}

.header_content{
    max-width: 800px;
    margin: auto;
}

.title{
    color: whitesmoke;
}

.menuStyle{
    height: 64px;
    max-width: auto;
}

.site_title{
    display: 'none';
}

.home_button{
    height: 500px;
}