.mainbody{
    margin: auto;
    max-width: 1200px;
    /*min-width: auto; */
    /* padding-left: 16px; */
}

.content{
    /* padding-left: 16px; */
    margin: auto;
    width: 100%;
    /* max-width: 1440px; */
    /* width: 300px; */
}

.sidebar{
    width: 500px;
    margin: auto;
    /* margin-left: 100px; */
}

.hidden_sidebar{
    width: 0px;
}