.post_body{
    margin: 0 auto;
    max-width: 1200px;
    /*min-width: auto; */
    padding-left: 32px;
}

.main_content{
    padding-left: 32px;
    margin: 0 auto;
    max-width: 5000px;
    /* width: 300px; */
}